/*
    Author: Shinai Sorensen
    Date: March 30, 2020
*/

/* Import CSS Reset */
@import url('/students/ssorensen23/css/reset/cssReset.css');

body {
    background-color: #f5c7c7;
}

/* Header and navigation */
header {
    text-align: center;
    padding: 10px 0 10px 0;
}

nav ul li {
    list-style-type: none;
    display: inline;
}

nav a {
    padding: 0 15px 0 15px;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:link, nav a:visited {
    color: black;
}

nav a:hover {
    color: red;
}

nav a:active {
    color: white;
}

/* Main content */
.flex-container {
    display: flex;
}

.flex-container section:first-of-type {
    margin-right: 20px;
}

.flex-container section:first-of-type h2 {
    text-align: center;
}

section figure img {
    width: 200px;
    height: auto;
}

figure figcaption {
    text-align: center;
}

section {
    background-color: lightgrey;
    border: 1px solid black;
    padding: 20px;
}

section h2 {
    padding: 10px 0 20px 0;
}

section p {
    text-indent: 45px;
}


